body{
    background-color: black;
}

h1{
    font-size: 60px;
    text-align: center;
    color: white;

}

p{
    color: white;
}

@media screen and (max-width:600px) {
    body{
        background-color:red;
    }
    
    h1{
        font-size: 30px;
        text-align: left;
    }
}